*
{
    margin:0;
    padding:0;
    background-color:aquamarine
}
h1{
    background-color:#081b31;
    color:#fff;
    height:5rem;
    text-align:center;
    line-height:5rem;

}
 .choice
 {
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    text-align:center;
 }
 img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius:50%;

 }
 .choices
 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;
 }
 .choice:hover{
    cursor:pointer;
    background-color: #081b31;
 }
 .scoreboard
 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
 }
 #userscore,#compscore
 {
    font-size: 4rem;
 }
 #msg
 {
    background-color: #081b31;
    color: #fff;
    font: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
 }
 .msgcontainer
 {
    margin-top: 5rem;
    margin-left: 40rem;

 }